### Package XML file (copy)
/pkg_*.xml

# Symlinked files/folders into the component tree
/component/backend/ars.xml

/node_modules

# Release files
/release

# Temporary stuff
/*.txt

# Composer
/vendor

# phpStorm HTTP Client private config file
http-client.private.env.jsona
*.DS_Store
.buildpath
.project
.settings/
*.patch
composer-ORIG.json
my_custom_patch_file.patch
